.main__toast-success, .main__toast-error, .main__toast-info {
  text-align: center;
  border-radius: 5px;
}

.main__toast-success {
  background-color: #5eda68;
}

.main__toast-error {
  background-color: #ec5454;
}

.main__toast-info {
  background-color: #333;
}
